# Node modules
node_modules/

# Build output
build/
dist/

# Logs
*.log

# VSCode settings
.vscode/

# Operating System files
.DS_Store
Thumbs.db

# Yarn and npm lock files
package-lock.json
yarn.lock

# Test coverage
coverage/
node_modules
